<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee9b114e-d2a8-5241-80e5-3d6aea100db5" Alias="المستندات والمرفقات" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="المستندات والمرفقات">
      <Name Culture="ar-EG">المستندات والمرفقات</Name>
      <Name Culture="en-US">Documents</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[documents]]></Value>
      <Value Culture="en-US"><![CDATA[documents]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[documents]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-paperclip]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[الطلبات]]></Value>
      <Value Culture="en-US"><![CDATA[Requests]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>