<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c2cbdfa-cecd-5cce-ac96-8e6d76e8e8c9" Alias="الإجراءات التصحيحية" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="الإجراءات التصحيحية">
      <Name Culture="ar-EG">الإجراءات التصحيحية</Name>
      <Name Culture="en-US">Corrective actions</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[corrective-actions]]></Value>
      <Value Culture="en-US"><![CDATA[corrective-actions]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[correctiveActions]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-tools]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[الاعتماد]]></Value>
      <Value Culture="en-US"><![CDATA[Accreditation]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>