<?xml version="1.0" encoding="utf-8"?>
<Content Key="76e67e5b-4fc7-5ba7-8479-d8ed1f12442e" Alias="تسجيل الدخول" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تسجيل الدخول">
      <Name Culture="ar-EG">تسجيل الدخول</Name>
      <Name Culture="en-US">Sign in</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[login]]></Value>
      <Value Culture="en-US"><![CDATA[login]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[login]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-box-arrow-in-right]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[0]]></Value>
    </showInSidebar>
  </Properties>
</Content>