<?xml version="1.0" encoding="utf-8"?>
<Content Key="df532c33-d9f3-5ede-8195-9a7da6e42139" Alias="الدعم الفني (SAT و SAP)" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="الدعم الفني (SAT و SAP)">
      <Name Culture="ar-EG">الدعم الفني (SAT و SAP)</Name>
      <Name Culture="en-US">Support (SAT / SAP)</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="false">
      <Published Culture="ar-EG">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[support]]></Value>
      <Value Culture="en-US"><![CDATA[support]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[support]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-life-preserver]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[الاعتماد]]></Value>
      <Value Culture="en-US"><![CDATA[Accreditation]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>