<?xml version="1.0" encoding="utf-8"?>
<Content Key="5392f2f9-35c7-5545-b730-39fe43684054" Alias="تفاصيل الطلب" Level="4">
  <Info>
    <Parent Key="5f880a90-f92f-5f25-94ba-299a063f9b50">طلباتي</Parent>
    <Path>/الرئيسية/لوحة المتابعة/طلباتي</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تفاصيل الطلب">
      <Name Culture="ar-EG">تفاصيل الطلب</Name>
      <Name Culture="en-US">Application details</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[details]]></Value>
      <Value Culture="en-US"><![CDATA[details]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[applicationDetails]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-file-text]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[0]]></Value>
    </showInSidebar>
  </Properties>
</Content>