<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a931dcf-3230-5c94-8ce9-00324ea622a2" Alias="تتبع طلب" Level="2">
  <Info>
    <Parent Key="3720e9f1-20fb-4c8e-af6d-6de3b02eaf02">الرئيسية</Parent>
    <Path>/الرئيسية</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تتبع طلب">
      <Name Culture="ar-EG">تتبع طلب</Name>
      <Name Culture="en-US">Track a request</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[track]]></Value>
      <Value Culture="en-US"><![CDATA[track]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[tracking]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-geo]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[الطلبات]]></Value>
      <Value Culture="en-US"><![CDATA[Requests]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>