<?xml version="1.0" encoding="utf-8"?>
<Content Key="1439570c-5c12-5b95-9834-9d2d8a734c56" Alias="المدفوعات والفواتير" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="المدفوعات والفواتير">
      <Name Culture="ar-EG">المدفوعات والفواتير</Name>
      <Name Culture="en-US">Payments &amp; invoices</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[payments]]></Value>
      <Value Culture="en-US"><![CDATA[payments]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[payments]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-credit-card]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[حسابي]]></Value>
      <Value Culture="en-US"><![CDATA[My account]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>