<?xml version="1.0" encoding="utf-8"?>
<Content Key="2343345c-51d7-5e9e-839d-da74d2638909" Alias="التحقق من شهادة" Level="2">
  <Info>
    <Parent Key="3720e9f1-20fb-4c8e-af6d-6de3b02eaf02">الرئيسية</Parent>
    <Path>/الرئيسية</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-10-01T12:00:00</CreateDate>
    <NodeName Default="التحقق من شهادة">
      <Name Culture="ar-EG">التحقق من شهادة</Name>
      <Name Culture="en-US">Verify a certificate</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[verify]]></Value>
      <Value Culture="en-US"><![CDATA[verify]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[verify]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-qr-code-scan]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[0]]></Value>
    </showInSidebar>
  </Properties>
</Content>