<?xml version="1.0" encoding="utf-8"?>
<Content Key="b79f0bd5-eb7b-50bc-b43d-574e6c6fb319" Alias="تجديد الاعتماد" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تجديد الاعتماد">
      <Name Culture="ar-EG">تجديد الاعتماد</Name>
      <Name Culture="en-US">Renewal</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="false">
      <Published Culture="ar-EG">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[renewal]]></Value>
      <Value Culture="en-US"><![CDATA[renewal]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[renewal]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-arrow-repeat]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[الاعتماد]]></Value>
      <Value Culture="en-US"><![CDATA[Accreditation]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>