<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9810928-885c-5e63-a55a-2ecc3a35a3ed" Alias="سجل المعاملات" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="سجل المعاملات">
      <Name Culture="ar-EG">سجل المعاملات</Name>
      <Name Culture="en-US">Service history</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[history]]></Value>
      <Value Culture="en-US"><![CDATA[history]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[history]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-clock-history]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[حسابي]]></Value>
      <Value Culture="en-US"><![CDATA[My account]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>