<?xml version="1.0" encoding="utf-8"?>
<Content Key="206ee20c-93c6-5a14-9616-202b72592b0c" Alias="تسجيل منشأة" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تسجيل منشأة">
      <Name Culture="ar-EG">تسجيل منشأة</Name>
      <Name Culture="en-US">Register an establishment</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[facility-register]]></Value>
      <Value Culture="en-US"><![CDATA[facility-register]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[facilityRegister]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-building-add]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[المنشآت]]></Value>
      <Value Culture="en-US"><![CDATA[Establishments]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>