<?xml version="1.0" encoding="utf-8"?>
<Content Key="86793e78-a82f-5aa5-9d64-b4f5ccab8019" Alias="الإشعارات" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="الإشعارات">
      <Name Culture="ar-EG">الإشعارات</Name>
      <Name Culture="en-US">Notifications</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[notifications]]></Value>
      <Value Culture="en-US"><![CDATA[notifications]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[notifications]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-bell]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>