<?xml version="1.0" encoding="utf-8"?>
<Content Key="15a466c3-5f11-5281-86a9-9e9be9664068" Alias="إنشاء حساب" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="إنشاء حساب">
      <Name Culture="ar-EG">إنشاء حساب</Name>
      <Name Culture="en-US">Create account</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[register]]></Value>
      <Value Culture="en-US"><![CDATA[register]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[register]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-person-plus]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[0]]></Value>
    </showInSidebar>
  </Properties>
</Content>