<?xml version="1.0" encoding="utf-8"?>
<Content Key="205a21a1-ff3a-5401-9db8-6080bcc88b47" Alias="تسجيل مهني" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="تسجيل مهني">
      <Name Culture="ar-EG">تسجيل مهني</Name>
      <Name Culture="en-US">Professional registration</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="false">
      <Published Culture="ar-EG">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[professional]]></Value>
      <Value Culture="en-US"><![CDATA[professional]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[professional]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-person-vcard]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[التسجيل]]></Value>
      <Value Culture="en-US"><![CDATA[Registration]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>