<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7774295-590b-5906-9d6e-07cb21370634" Alias="الشهادات والتراخيص" Level="3">
  <Info>
    <Parent Key="4eeca28f-b475-5c8e-8a2d-92056caaccee">لوحة المتابعة</Parent>
    <Path>/الرئيسية/لوحة المتابعة</Path>
    <Trashed>false</Trashed>
    <ContentType>applicantPage</ContentType>
    <CreateDate>2026-09-24T12:00:00</CreateDate>
    <NodeName Default="الشهادات والتراخيص">
      <Name Culture="ar-EG">الشهادات والتراخيص</Name>
      <Name Culture="en-US">Certificates &amp; licences</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2862a652-fa14-50b1-8420-0957b152a288">ApplicantPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[certificates]]></Value>
      <Value Culture="en-US"><![CDATA[certificates]]></Value>
    </umbracoUrlName>
    <screen>
      <Value><![CDATA[certificates]]></Value>
    </screen>
    <icon>
      <Value><![CDATA[bi-patch-check]]></Value>
    </icon>
    <sidebarGroup>
      <Value Culture="ar-EG"><![CDATA[المنشآت]]></Value>
      <Value Culture="en-US"><![CDATA[Establishments]]></Value>
    </sidebarGroup>
    <showInSidebar>
      <Value><![CDATA[1]]></Value>
    </showInSidebar>
  </Properties>
</Content>