<?xml version="1.0" encoding="utf-8"?>
<Content Key="33a8dad4-1e46-532a-9fd1-7387cdaf9b8e" Alias="تواصل معنا" Level="2">
  <Info>
    <Parent Key="3720e9f1-20fb-4c8e-af6d-6de3b02eaf02">الرئيسية</Parent>
    <Path>/الرئيسية</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-09-24T09:05:31</CreateDate>
    <NodeName Default="تواصل معنا">
      <Name Culture="ar-EG">تواصل معنا</Name>
      <Name Culture="en-US">Contact us</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="1fd5332b-e59b-56e6-bc00-9dde3cae6503">ContentPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[contact]]></Value>
      <Value Culture="en-US"><![CDATA[contact]]></Value>
    </umbracoUrlName>
    <intro>
      <Value Culture="ar-EG"><![CDATA[تواصل مع الهيئة القومية لسلامة الغذاء عبر قنواتها الرسمية.]]></Value>
      <Value Culture="en-US"><![CDATA[Reach the National Food Safety Authority through its official channels.]]></Value>
    </intro>
    <sections>
      <Value Culture="ar-EG"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4e9272d-54db-5ab3-be4f-b14478d1641c",
      "key": "84190a51-8e06-57de-b645-3cd6eefd5558",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "طرق التواصل"
        },
        {
          "alias": "intro",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "يسعدنا الرد على استفساراتكم خلال مواعيد العمل الرسمية، من الأحد إلى الخميس."
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "dab83934-4137-5199-9f22-e1c6ac62fa7a",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-telephone"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "الخط الساخن"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "19565"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "c34f155d-56f7-5796-a8cd-c828116b4ef3",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-envelope"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "البريد الإلكتروني"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "info@nfsa.gov.eg"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "ed8387df-fbd4-5f86-b20c-c92b9a7c11e0",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-person-vcard"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "استفسارات التسجيل"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "reg.info@nfsa.gov.eg"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "77f7168d-8748-59f7-9c10-1defee0838ae",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-telephone-forward"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "التليفون"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "+20 2 2793 3493"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "dab83934-4137-5199-9f22-e1c6ac62fa7a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c34f155d-56f7-5796-a8cd-c828116b4ef3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ed8387df-fbd4-5f86-b20c-c92b9a7c11e0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "77f7168d-8748-59f7-9c10-1defee0838ae",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "dab83934-4137-5199-9f22-e1c6ac62fa7a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c34f155d-56f7-5796-a8cd-c828116b4ef3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ed8387df-fbd4-5f86-b20c-c92b9a7c11e0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "77f7168d-8748-59f7-9c10-1defee0838ae",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7",
      "key": "77d36e8f-aa43-57dd-b896-274e496d3fc1",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "84190a51-8e06-57de-b645-3cd6eefd5558",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "84190a51-8e06-57de-b645-3cd6eefd5558",
        "contentUdi": null,
        "settingsKey": "77d36e8f-aa43-57dd-b896-274e496d3fc1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4e9272d-54db-5ab3-be4f-b14478d1641c",
      "key": "13c62152-1a1d-5392-b0f2-586eea153873",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How to reach us"
        },
        {
          "alias": "intro",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We're happy to answer your questions during official working hours, Sunday to Thursday."
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "57ad3522-8350-58e5-b92c-b957e8096dff",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-telephone"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hotline"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "19565"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "f42f4928-3ace-5268-965a-7ffcac79e75f",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-envelope"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Email"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "info@nfsa.gov.eg"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "969a7fc9-0b12-55b3-961e-ccc4abaf3540",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-person-vcard"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Registration enquiries"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "reg.info@nfsa.gov.eg"
                  }
                ]
              },
              {
                "contentTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285",
                "key": "6dafd059-c597-5904-8e28-0f080e747598",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "bi-telephone-forward"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Telephone"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "+20 2 2793 3493"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "57ad3522-8350-58e5-b92c-b957e8096dff",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f42f4928-3ace-5268-965a-7ffcac79e75f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "969a7fc9-0b12-55b3-961e-ccc4abaf3540",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6dafd059-c597-5904-8e28-0f080e747598",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "57ad3522-8350-58e5-b92c-b957e8096dff",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f42f4928-3ace-5268-965a-7ffcac79e75f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "969a7fc9-0b12-55b3-961e-ccc4abaf3540",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6dafd059-c597-5904-8e28-0f080e747598",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7",
      "key": "91b5d245-fb58-5ac0-b5c9-4f26ec284034",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "13c62152-1a1d-5392-b0f2-586eea153873",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "13c62152-1a1d-5392-b0f2-586eea153873",
        "contentUdi": null,
        "settingsKey": "91b5d245-fb58-5ac0-b5c9-4f26ec284034",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>