<?xml version="1.0" encoding="utf-8"?>
<Content Key="5503622e-4f7f-5db1-8743-e9ed594254d0" Alias="اعتماد 42 منشأة صحية جديدة في محافظات المرحلة الأولى" Level="3">
  <Info>
    <Parent Key="f185998f-047f-5373-83ce-622308d5c8a8">الأخبار والإعلانات</Parent>
    <Path>/الأخبار والإعلانات</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-08-24T10:00:00</CreateDate>
    <NodeName Default="اعتماد 42 منشأة صحية جديدة في محافظات المرحلة الأولى">
      <Name Culture="ar-EG">اعتماد 42 منشأة صحية جديدة في محافظات المرحلة الأولى</Name>
      <Name Culture="en-US">42 new healthcare facilities accredited in phase-one governorates</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="1a228735-a13b-5767-b6b8-fdbadb29e863">NewsItem</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[42-facilities-accredited]]></Value>
      <Value Culture="en-US"><![CDATA[42-facilities-accredited]]></Value>
    </umbracoUrlName>
    <category>
      <Value Culture="ar-EG"><![CDATA[اعتماد]]></Value>
      <Value Culture="en-US"><![CDATA[Accreditation]]></Value>
    </category>
    <summary>
      <Value Culture="ar-EG"><![CDATA[تشمل مستشفيات ووحدات رعاية أولية في بورسعيد والإسماعيلية والأقصر.]]></Value>
      <Value Culture="en-US"><![CDATA[Including hospitals and primary care units in Port Said, Ismailia and Luxor.]]></Value>
    </summary>
    <body>
      <Value Culture="ar-EG"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "<p>اعتمدت الهيئة 42 منشأة صحية جديدة تشمل مستشفيات ووحدات رعاية أولية في بورسعيد والإسماعيلية والأقصر.</p>"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "<p>GAHAR accredited 42 new healthcare facilities, including hospitals and primary care units in Port Said, Ismailia and Luxor.</p>"
}]]></Value>
    </body>
  </Properties>
</Content>