<?xml version="1.0" encoding="utf-8"?>
<Content Key="f185998f-047f-5373-83ce-622308d5c8a8" Alias="الأخبار والتنبيهات" Level="2">
  <Info>
    <Parent Key="3720e9f1-20fb-4c8e-af6d-6de3b02eaf02">الرئيسية</Parent>
    <Path>/الرئيسية</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListPage</ContentType>
    <CreateDate>2026-09-24T09:05:31</CreateDate>
    <NodeName Default="الأخبار والتنبيهات">
      <Name Culture="ar-EG">الأخبار والتنبيهات</Name>
      <Name Culture="en-US">News &amp; alerts</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="a03f621b-c542-5a7a-9cd9-73f7a88779ec">NewsListPage</Template>
  </Info>
  <Properties>
    <umbracoUrlName>
      <Value Culture="ar-EG"><![CDATA[news]]></Value>
      <Value Culture="en-US"><![CDATA[news]]></Value>
    </umbracoUrlName>
    <intro>
      <Value Culture="ar-EG"><![CDATA[آخر أخبار الهيئة وقراراتها والتنبيهات الغذائية.]]></Value>
      <Value Culture="en-US"><![CDATA[The latest NFSA news, decisions and food alerts.]]></Value>
    </intro>
  </Properties>
</Content>