<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98f43cab-b086-4d3e-a075-13e9145c80d9" Alias="Audience Columns" Level="1">
  <Info>
    <Name>Audience Columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "29daf8c9-42b1-41c7-81ec-340e3a86c472"
    }
  ]
}]]></Config>
</DataType>