<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3425e891-b0b8-572c-aef1-c86d9f9d22e7" Alias="Cards List" Level="1">
  <Info>
    <Name>Cards List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "91a1f03c-2da9-57ba-a891-9b4dba49ccd8"
    }
  ]
}]]></Config>
</DataType>