<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c6124c9-9003-57fa-9f89-50c4784f1272" Alias="Contact List" Level="1">
  <Info>
    <Name>Contact List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5ef2c733-5f67-5f7f-bd80-57165715f285"
    }
  ]
}]]></Config>
</DataType>