<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d41971c6-ce9e-50a3-bf2b-359a55da669b" Alias="FAQ List" Level="1">
  <Info>
    <Name>FAQ List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eac0e404-1899-5faa-a003-b1e5d1365a89"
    }
  ]
}]]></Config>
</DataType>