<?xml version="1.0" encoding="utf-8"?>
<DataType Key="359e9b6e-6059-4b42-9e73-642246881714" Alias="Figures List" Level="1">
  <Info>
    <Name>Figures List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8b2744c3-c9cc-400d-9c3c-aeeb6b5b7336"
    }
  ]
}]]></Config>
</DataType>