<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eeba2d77-9d28-5ccb-be51-5377d5e7d017" Alias="Footer Columns" Level="1">
  <Info>
    <Name>Footer Columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a251fe96-c912-578b-be55-20560b695380"
    }
  ]
}]]></Config>
</DataType>