<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3f1c2d4-5e6b-4c7d-8e9f-0a1b2c3d4e51" Alias="Home Sections" Level="1">
  <Info>
    <Name>Home Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d01",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d02",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d03",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d04",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d05",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "911c6375-a303-5edb-95b6-9db9de0ec0df",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "62cd108b-d89b-513a-b90a-2847279e7631",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "3f3b3977-b5a1-501f-a860-7390f1c6aa5d",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "d4e9272d-54db-5ab3-be4f-b14478d1641c",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "baea14cb-46f6-596c-9273-b640fe9852ad",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "2c3b9d09-c9a0-506a-a092-ef688ee35fb8",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    },
    {
      "contentElementTypeKey": "7a1e6c52-3b8d-4f09-a2c4-5d6e7f8a9b10",
      "settingsElementTypeKey": "42f4d438-461e-459b-a53c-dc793ceb2bf7"
    }
  ]
}]]></Config>
</DataType>