<?xml version="1.0" encoding="utf-8"?>
<DataType Key="701d7001-2b69-4c84-b3b5-63d13f758a47" Alias="Section Settings - Hide this section - Toggle" Level="1">
  <Info>
    <Name>Section Settings - Hide this section - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>