<?xml version="1.0" encoding="utf-8"?>
<DataType Key="310904e9-5658-4e4d-8875-a75779c062e2" Alias="Steps List" Level="1">
  <Info>
    <Name>Steps List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "36737075-e135-4c6d-8a2b-7f560a277aa0"
    }
  ]
}]]></Config>
</DataType>